[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/luciantoo
[access "refs/for/refs/*"]
	read = group user/luciantoo
	push = group user/luciantoo
	label-Code-Review = -2..+2 group user/luciantoo
	label-Verified = -1..+1 group user/luciantoo
	rebase = group user/luciantoo
	removeReviewer = group user/luciantoo
	submit = group user/luciantoo
[access "refs/heads/*"]
	read = group user/luciantoo
	create = group user/luciantoo
	push = +force group user/luciantoo
	pushMerge = group user/luciantoo
[access "refs/tags/*"]
	push = +force group user/luciantoo
	pushTag = group user/luciantoo
	pushSignedTag = group user/luciantoo
